.parallax-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parallax-element {
    width: 100%;

    img {
        width: 100%;
        height: 110%;
        object-fit: cover;
    }
}